<form action = "/add/Collectible" type="post">
Collectible Name: <input type="text" name="c_name"/>
Collectible ID:<input type="text" name="c_id"/>
Class<select name="i_class">
<option value="frame">Warframe</option>
<option value="prmy">Primary Weapon</option>
<option value="sdry">Secondary Weapon</option>
<option value="mele" selected="true">Melee Weapon</option>
<option value="comp">Living Companion</option>
<option value="sent">Sentinel</option>
<option value="sntw">Sentinel Weapon</option>
<option value="wing">Archwing</option>
<option value="wprm">Primary (Archwing)</option>
<option value="wmel">Melee (Archwing)</option>
</select>
<button type="submit" value ="Add">Add</button>
</form>
<title> Add comp </title>