<div class = "container">
To build {{collection_name}}:<br/><br/>
TOTAL:<br/>
 {{#each partsList}}
    {{this}} x {{@key}}<br/>
{{/each}}
{{credit_cost}} Credits<br/><br/>
<title> Namescore </title>
Requires:<br/>
{{#each recipe}}
	{{#recipify @key this @root.subrecipe @root.subsubrecipe}}{{/recipify}}<br/>
 {{/each}}
 <script type = "text/javascript">
 {{#objToJS subrecipe 'components'}}{{/objToJS}}
 {{#objToJS subsubrecipe 'complex_components'}}{{/objToJS}}
 {{#objToJS simples 'simple_components'}}{{/objToJS}}
 </script>